@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  height: calc(100% - calc(22px+ 32px));
  text-align: left;
  background-color: var(--background);
  padding: 0 0px;
}
header {
  user-select: none;
  cursor: default;
}
